<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <title>Email Validation</title>
</head>
<body>
    <div id="wrapper">
        <h1>Validate your email here</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="errorMessage">{{message|safe}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form action = "/process" method = "POST">
            <div>
                <label for="email">Email</label>
                <input id="email" name="email" type="text">
            </div>
            <input id="submitButton" type="submit">
        </form>
    </div>
</body>
</html>